{% extends 'layouts/base.html' %}

{% block bodyid %}{% endblock %}

{% block base %}
  <div class="row section" id="header">
        <div class="container" id="title">
            <div class="col-1-1">
                <img src="/static/img/logo.png" alt="" class="center animate dropIn">
                <h1 class="center"><span class="caps">{{config.SERVICE_NAME}}</span></h1>

            </div>
        </div>
      <div class="container">
          <div class="col-1-2">
            <h1 style="font-weight: 900;">Functional HTML forms</h1>
            <h3 class="light">Just send your form to our URL and we'll forward it to your email. No PHP, Javascript or sign up required &mdash; <em>perfect for static sites!</em></h3>
            </div>
            <div class="col-1-2">
                <p>Example:</p>
                <p class="card code" style="font-size: small">
                    &lt;form <span class="tooltip hint--top" data-hint="Use our URL as form's action">action="<span class="attr">{{config.API_ROOT}}/your@email.com</span>"</span><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tooltip hint--top" data-hint="Forms must POST">method="<span class="attr">POST</span>"</span>&gt;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="<span class="attr">text</span>" name="<span class="attr">name</span>"&gt;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="<span class="attr">email</span>" <span class="tooltip hint--top" data-hint="Use advanced attributes">name="<span class="attr">_replyto</span>"</span>&gt;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="tooltip hint--bottom" data-hint="When user submits, we'll email data to you">&lt;input type="<span class="attr">submit</span>" value="<span class="attr">Send</span>"&gt;</span><br />
                    &lt;/form&gt;
                </p>
            </div>
      </div>
  </div>

  <div class="row section" id="getstarted">

      <div class="container narrow block">
          <div class="col-1-1">
              <h2>Setting it up is easy and free. Here's how:</h2>
              <h3 class="light">You don't even have to register.</h3>
          </div>
      </div>

      <div class="container narrow block">
            <div class="col-1-1">
                <h3>1. Setup the HTML form</h3>
                <p>Change your form's <span class="code">action</span>-attribute to this and replace your@email.com with your own email.</p>
                <p><input type="text" value="http:{{config.API_ROOT}}/your@email.com" /></p>
            </div>
      </div>

      <div class="container narrow block">
            <div class="col-1-1">
                <h3>2. Add a <span class="code">name</span> attribute to every field</h3>
                <p>Ensure all <span class="code">&lt;input&gt;</span>, <span class="code">&lt;select&gt;</span> and <span class="code">&lt;textarea&gt;</span> elements inside your form have a <span class="code">name</span> attribute, otherwise you will not receive the data filled in these fields.</p>
            </div>
      </div>

      <div class="container narrow block">
            <div class="col-1-1">
                <h3>3. Submit the form and confirm your email address</h3>
                <p>Go to your website and submit the form once. This will send you an email asking to confirm your email address.</p>
                <p><em>Remember that if you display the same form in multiple URLs of your site you'll have to confirm it multiple times!</em></p>
            </div>
      </div>

      <div class="container narrow block">
            <div class="col-1-1">
                <h3>4. All set, receive emails</h3>
                <p>From now on, when someone submits that form, we'll forward you the data as email.</p>

            </div>
      </div>

  </div>

  <div class="row section grey">

      <div class="container block">
          <div class="col-1-1"><h2>Some questions you might have:</h2></div>
      </div>

      <div class="container block">
            <div class="col-1-2">
                <div class="card">
                    <h4>Who are you guys?</h4>
                    <p>We're a community of developers that work together to create products. You can contribute on <a href="https://github.com/formspree/formspree">GitHub</a>. {{config.SERVICE_NAME}} is a project that solves a problem many of us have faced: easily adding forms to otherwise static HTML pages.</p>
            	</div>
            </div>
            <div class="col-1-2">
                <div class="card">
                    <h4>What about privacy?</h4>
                    <p>We only store contents of the last 100 form submissions and delete the rest. Emails are sent using SendGrid's API, so on that end their privacy policies apply.</p>
                </div>
            </div>
      </div>

      <div class="container block">
            <div class="col-1-2">
                <div class="card">
                    <h4>How much does it cost?</h4>
                    <p>{{config.SERVICE_NAME}} is free for 1000 submissions per email each month. If you need more, there's a <a href="#plans">{{ config.UPGRADED_PLAN_NAME }} Plan</a>.</p>
                </div>
            </div>
            <div class="col-1-2">
                <div class="card">
                    <h4>Can I have X?</h4>
                    <p>We have various interesting features enabled for our <a href="#plans">{{ config.UPGRADED_PLAN_NAME }} Accounts</a> and we are adding more. Please reach out to <a href="mailto:{{config.CONTACT_EMAIL}}">{{config.CONTACT_EMAIL}}</a> if you need something we don't have.</p>
                </div>
            </div>
      </div>

  </div>

  <div class="row section grey">

      <div class="container narrow block">
          <div class="col-1-1">
            <h2>Advanced features:</h2>
            <h4 class="light">Form inputs can have specially named <span class="code">name</span>-attributes, which alter functionality. They are all prefixed with an underscore.</h4>
          </div>
      </div>

      <div class="container narrow block">
            <div class="col-1-1">
                <h4><span class="code">_replyto</span> or <span class="code">email</span></h4>
                <p>This value is used for the email's Reply-To field. This way you can directly "Reply" to the email to respond to the person who originally submitted the form.</p>
                <p><input type="text" value='<input type="text" name="_replyto" placeholder="Your email" />'></p>
            </div>
      </div>

      <div class="container narrow block">
            <div class="col-1-1">
                <h4><span class="code">_next</span></h4>
                <p>By default, after submitting a form the user is shown the {{config.SERVICE_NAME}} "Thank You" page. You can provide an alternative URL for that page.</p>
                <p><input type="text" value='<input type="hidden" name="_next" value="//site.io/thanks.html" />'></p>
            </div>
      </div>

      <div class="container narrow block">
            <div class="col-1-1">
                <h4><span class="code">_subject</span></h4>
                <p>This value is used for the email's subject, so that you can quickly reply to submissions without having to edit the subject line each time.</p>
                <p><input type="text" value='<input type="hidden" name="_subject" value="New submission!" />'></p>
            </div>
      </div>

      <div class="container narrow block">
            <div class="col-1-1">
                <h4><span class="code">_cc</span></h4>
                <p>This value is used for the email's CC Field. This lets you send a copy of each submission to another email address.</p>
                <p><input type="text" value='<input type="hidden" name="_cc" value="another@email.com" />'></p>
            </div>
      </div>

      <div class="container narrow block">
            <div class="col-1-1">
                <h4><span class="code">_gotcha</span></h4>
                <p>Add this "honeypot" field to avoid spam by fooling scrapers. If a value is provided, the submission will be silently ignored. The input should be hidden with CSS.</p>
                <p><input type="text" value='<input type="text" name="_gotcha" style="display:none" />'></p>
            </div>
      </div>

      <div class="container narrow block">
            <div class="col-1-1">
                <h4>Using AJAX</h4>
                <p>You can use {{config.SERVICE_NAME}} via AJAX. This even works cross-origin. The trick is to set the <span class="code">Accept</span> header to <span class="code">application/json</span>. If you're using jQuery this can be done like so:
                <p class="card code">
                  $.ajax({<br/>
                  &nbsp;&nbsp;&nbsp;&nbsp;url: "{{config.API_ROOT}}/you@email.com", <br/>
                  &nbsp;&nbsp;&nbsp;&nbsp;method: "POST",<br />
                  &nbsp;&nbsp;&nbsp;&nbsp;data: {message: "hello!"},<br />
                  &nbsp;&nbsp;&nbsp;&nbsp;<span class="tooltip hint--top" data-hint="Required to set the Accept header">dataType: "json"</span><br />
                  });
                </p>
            </div>
      </div>

<!--
      <div class="container narrow block">
            <div class="col-1-1">
                <h3 class="light">More to come...</h3>
            </div>
      </div>

 -->

  </div>

  <div class="row section" id="plans">
      <div class="container narrow block">
            <div class="col-1-1">
                <h2>For {{ config.SERVICE_NAME }} power users, we present </strong>{{ config.SERVICE_NAME }} {{ config.UPGRADED_PLAN_NAME }}</strong></h1>
                <p class="center">{{ config.SERVICE_NAME }} {{ config.UPGRADED_PLAN_NAME }} costs</p>
                <h1 class="center"><a class="button emphasis" href="{{ url_for('account') }}">$ 9.99</a></h1>
                <p class="center">each month</p>
                <p>Each {{ config.UPGRADED_PLAN_NAME }} account can have unlimited forms and unlimited verified emails, and all them get the <a href="#features">features listed below</a>.</p>
                <a style="display: block" class="button center emphasis" href="{{ url_for('account') }}">Upgrade now</a>
            </div>
      </div>
  </div>

  <div class="row section grey" id="features">
      <div class="container narrow block">
          <div class="col-1-1">
            <h2>{{ config.UPGRADED_PLAN_NAME }} features:</h2>
            <h3 class="light">Extra limits and functionality for power users</h3>
          </div>
      </div>

      <div class="container narrow block">
            <div class="col-1-1">
                <h3>Invisible emails</h3>
                <p>Through our dashboard, you will be able to get a random-like string to replace your naked email address in the <span class="code">action</span> attribute of your form. Your email address will remain unknown to spam-bots and also your human visitors.</p>
            </div>
      </div>

      <div class="container narrow block">
            <div class="col-1-1">
                <h3>Unlimited form submissions</h3>
                <p>Getting more than 1000 submissions each month? No problem, upgrading will cover that.</p>
            </div>
      </div>

      <div class="container narrow block">
            <div class="col-1-1">
                <h3>Access to submissions archive</h3>
                <p>If you ever missed a submission email, for any reason, you can just login and read your last 1000 submissions, all listed and timestamped with full data. Also, the submissions can be exported to CSV or JSON!</p>
                <p>It even works for submissions made while you were not a {{ config.UPGRADED_PLAN_NAME }} user (the last 100, in this case).</p>
            </div>
      </div>

  </div>

  <div class="row section">
      <div class="container narrow block">
          <div class="col-1-2">
            <p>{{config.SERVICE_NAME}} is a tool <a href="https://github.com/formspree/formspree">managed on Github</a>. To contact us send an email to <a href="mailto:{{config.CONTACT_EMAIL}}">{{config.CONTACT_EMAIL}}</a> or use the form on the right.</p>
          </div>
          <div class="col-1-2">
            <form method="POST" action="//{{config.API_ROOT}}/{{config.CONTACT_EMAIL}}">
              <input type="email" name="_replyto" placeholder="Your email" />
              <textarea name="message" rows="5" placeholder="Your message (when sending support requests, please include the URL to your form if that is relevant)"></textarea>
              <input type="text" name="_gotcha" style="display:none">
              <button type="submit">Send</button>
            </form>
          </div>
      </div>
  </div>

{% endblock %}

{% block footer %}{% endblock %}
